/* Citation: */

body, html {
    height: 100%;
}

#sidebar {
    min-width: 130px;
}

.title-small-screen {
    display: none;
}

#left-header-img {
    width: 100%;
    height: auto;
}

.header-row {
    height: 150px
}

.mid-header-text, .mid-header-col {
    padding-left: 0 !important;
    margin: auto 0 !important;
    /*text-align: left !important;*/
    text-align: center !important;

}

.mid-header-text, .small-screen-header-text {
    color: rgb(39, 66, 97)
}

.section-header-text {
    color: rgb(97, 78, 39);
}

.side-nav-text, .nav-link {
    color: #2d2d2d;
    font-weight: 250;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: rgb(39, 66, 97);
}

.nav {
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: rgb(69, 118, 169);
    --bs-nav-link-disabled-color: #6c757d;
}

.dropdown-item {
    color: #2d2d2d;
    font-weight: 600;
}

.mid-header-col {
    padding-left: 10px !important;
}

.mid-header-col {
    text-align: center;
}

.left-header-col {
    padding-right: 0 !important;
}

.header {
    padding: 2em 1em 1em 1em !important;
}

@media (min-width: 992px) {
    .navbar-collapse {
        justify-content: center;
    }

    .main-info {
        width: 80%;
        margin: auto;
    }

}

@media (min-width: 1780px) {
    .navbar-collapse {
        justify-content: center;
    }

    .main-info {
        width: 100%;
    }
}
/* Must be 1 less than .navbar-collapse min-width: 992px*/
@media (max-width: 991px) {

    /*.nav-link {*/
    /*    font-weight: 600;*/
    /*}*/

    header {
        width: 100%;
        display: flex;
    }

    .main-nav {
        width: 100%;
    }

    .button-div {
        /*position: fixed;*/
        /*width:20%;*/
    }

    .button-col {
        width: 100%;
        display: flex;
        height: 45px;
        margin-top: 0.1em;
    }

    .title {
        display: None;
    }

    .title-small-screen {
        margin-top: 8px;
        padding: 0px !important;
        width: 80%;
        display: inherit;
        display: block;
        /* display: inline-flex; */
        display: inline-block;
    }
}

.title-small-screen h1 {
    font-size: 1.2rem;
}

.navbar-toggler {
    z-index: 7;
}

.main-nav {
    width: 100%;
}

/*.navbar-toggler {*/
/*    position: absolute;*/
/*    left: 5px;*/
/*    top: 5px;*/
/*}*/
/*}*/

/*.nav-link[data-toggle].collapsed:after {*/
/*    content: "▾";*/
/*}*/
/*.nav-link[data-toggle]:not(.collapsed):after {*/
/*    content: "▴";*/
/*}*/

/* Code section copied from https://jsfiddle.net/solodev/fx48z9r0/, with modifications*/

h1 {
    font-size: 37px;
}

.box-information {
    height: 115px;
    border: 1px solid #dbdbdb;
    margin-bottom: 30px;
}

.box-information a {
    font-size: 1.2rem;
    line-height: 29px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    color: #222;
    border-bottom: 4px solid rgba(102,77,3,0.24);;
}

.box-information a:hover {
    transition: all, 0.4s, ease;
    background: linear-gradient(135deg, #f7ebd3 1%, #7c3a2f 44%, #6a243c 55%, #601450 100%);
    color: #fff;
    text-decoration: none;
}

.more-info-title {
        font-size: 1.5rem !important;
    margin-bottom: 1em;
    color: #614E27;
}

.more-info-section {
    margin-bottom: 1em;
    margin-top: 0.5em;
}

/* Media Queries */

@media (min-width: 768px) {
    h1 {
        margin-bottom: 8px;
    }
}

@media (min-width: 992px) {
    .box-information {
        margin: 0 5px 30px;
    }
}

@media (max-width: 767.98px) {
    .box-information {
        height: 85px;
        margin-bottom: 15px;
    }
}

a {
    text-decoration: none;
}

.small-button a {
    text-decoration: underline;
    color: #274261;
}